/*
* https://docs.gtk.org/gtk3/css-overview.html
* https://docs.gtk.org/gtk3/css-properties.html
* https://github.com/Alexays/Waybar/wiki/Styling
*/

@define-color bg-color #2e3440;
@define-color color #ffffff;

@define-color blink-bg-color #ffffff;
@define-color blink-color #000000;

@define-color highlight-color #ebcb8b;
@define-color highlight-bg-color rgba(0, 0, 0, 0.3);
@define-color urgent-color #eb4d4b;
@define-color active-mode-color #64727d;

@define-color warning-color black;
@define-color warning-bg-color #ebcb8b;

@define-color critical-color white;
@define-color critical-bg-color #bf616a;

@define-color muted-color #2a5c45;
@define-color muted-bg-color #90b1b1;

* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono Nerd Font;
  font-size: 1em;
  min-height: 0;
}

window {
  font-size: 14px;
}

window#waybar {
  background-color: @bg-color;
  color: @color;
  transition: background-color 0.2s;
}

#clock {
  font-size: 1.2em;
  padding: 4px 2px 4px 4px;
}
#clock:hover {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}

#workspaces button {
  padding: 0.7em 0;
  background-color: transparent;
  color: @color;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @highlight-bg-color;
  color: @highlight-color;
  box-shadow: inherit;
}

#workspaces button.focused {
  background-color: @active-mode-color;
}

#workspaces button.urgent {
  background-color: @urgent-color;
}

#mode {
  background-color: @active-mode-color;
  padding: 0.8em 0;
}

#tray {
  padding-top: 0.5em;
}

#tray * {
  /* set font for tray context menus */
  font-family: Noto Sans;
  font-size: 16px;
}

#idle_inhibitor {
  font-size: 1.5em;
  padding-right: 7px;
}
#idle_inhibitor.activated {
  color: @highlight-color;
}

#cpu,
#memory,
#disk,
#temperature {
  padding: 8px 2px 8px 5px;
}

#backlight {
  padding: 8px 2px 8px 10px;
}
#battery {
  padding: 5px 0px 5px 8px;
}

#custom-pomodoro {
  margin-top: 14px;
  padding: 6px 6px 6px 6px;
  font-weight: 600;
  font-size: 1.4em;
  min-width: 70px;
}

#custom-pomodoro.pomodoro--running {
  color: @highlight-color;
}

#custom-pomodoro.pomodoro--idle {
  color: @color;
  opacity: 0.8;
}

#custom-pomodoro.pomodoro--done {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @critical-color;
}

@keyframes blink {
  to {
    background-color: @blink-bg-color;
    color: @blink-color;
  }
}

#battery.critical:not(.charging) {
  color: @critical-color;
  background-color: @critical-bg-color;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: inherit;
  color: inherit;
}

#battery.warning:not(.charging) {
  background-color: @warning-bg-color;
  color: @warning-color;
}

#temperature.critical {
  color: @critical-color;
  background-color: @critical-bg-color;
}

#pulseaudio {
  font-size: 1.2em;

  min-height: 30px;

  padding-top: 8px;
  padding-bottom: 8px;

  padding-left: 10px;
  padding-right: 5px;
}
#pulseaudio.playback.muted, #pulseaudio.mic.source-muted {
  background-color: @muted-bg-color;
  color: @muted-color;
}
#pulseaudio:hover:not(.muted):not(.source-muted) {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}

#bluetooth {
  font-size: 1.6em;
  padding-top: 8px;
  padding-bottom: 8px;
}
#bluetooth:hover {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}
#bluetooth.no-controller {
    color: grey;
}
#bluetooth.disabled {
    color: @highlight-color;
}

#language {
  font-size: 1.3em;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#mpris {
  font-size: 1.6em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#power-profiles-daemon {
  font-size: 1.2em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
}
#power-profiles-daemon:hover {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}

#systemd-failed-units {
  color: @urgent-color;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#custom-run-app {
  font-size: 1.7em;
  padding-top: 8px;
  padding-bottom: 8px;
}
#custom-run-app:hover {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}

#custom-shutdown-menu {
  font-size: 1.7em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#custom-shutdown-menu:hover {
  transition: background-color 0.2s;
  background: @highlight-bg-color;
  color: @highlight-color;
}
