/*
* https://docs.gtk.org/gtk3/css-overview.html
* https://docs.gtk.org/gtk3/css-properties.html
* https://github.com/Alexays/Waybar/wiki/Styling
*/

window {
  font-size: 16px;
}

* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono Nerd Font;
  font-size: 1em;
  min-height: 0;
}

window#waybar {
  background-color: #2e3440;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-left: 1px solid #434c5e;
}

#clock {
  font-size: 1.3em;
  padding: 4px 0 4px 4px;
}

#clock.date {
  font-size: 1em;
  padding-top: 0;
}

#clock.day-of-week {
  font-size: 1em;
  padding-top: 0;
}

#workspaces button {
  padding: 0.7em 0;
  background-color: transparent;
  color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
}

#workspaces button.focused {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  padding: 0.8em 0;
}

#tray {
  padding-top: 1em;
}

#tray * {
  /* set font for tray context menus */
  font-family: DejaVu Sans Bold Semi-Condensed;
  font-size: 22px;
}

#cpu,
#memory,
#disk,
#temperature {
  padding: 8px 2px 8px 5px;
}

#backlight {
  padding: 8px 2px 8px 5px;
}
#battery {
  padding: 5px 0px 5px 2px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #bf616a;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: inherit;
  color: inherit;
}

#battery.warning:not(.charging) {
  background-color: #ebcb8b;
}

label:focus {
  background-color: #000000;
}

#temperature.critical {
  background-color: #bf616a;
}

#pulseaudio {
  font-size: 1.2em;

  min-height: 30px;

  padding-top: 8px;
  padding-bottom: 8px;

  padding-left: 10px;
  padding-right: 5px;
}
#pulseaudio.playback.muted, #pulseaudio.mic.source-muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#bluetooth {
  font-size: 1.6em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#language {
  font-size: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#mpris {
  font-size: 1.6em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#power-profiles-daemon {
  font-size: 1.2em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 10px;
}

#systemd-failed-units {
  color: #eb4d4b;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
}

#custom-run-app {
  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 2px;
}

#custom-shutdown-menu {
  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 8px;
}
