[Desktop Entry]
Type=Application
Name=yazi
Comment=Terminal file manager
Exec=xterm yazi
Icon=yazi
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
