[Unit]
Description=Wayland image clipboard manager
PartOf=sway-session.target graphical-session.target
After=sway-session.target graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure