[Unit]
Description=Sway compositor session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
Wants=mako.service darkman.service cliphist.service cliphist-image.service swayosd.service
Wants=kanshi.service swayidle.service wlsunset.service polkit-gnome-authentication-agent.service
After=graphical-session-pre.target
Before=graphical-session.target